$custom-purple: #694ed8;
$custom-purple-invert: findColorInvert($custom-purple) !default;
$custom-purple-darker: #6600cc;
$custom-purple-darker-invert: findColorInvert($custom-purple-darker) !default;
$custom-grey: #f3f3f3;
$custom-grey-invert: findColorInvert($custom-grey) !default;
$custom-grey-light: #e4e4e4;
$custom-grey-light-invert: findColorInvert($custom-grey-light) !default;
